{% extends 'base.jinja' %}

{% block content %}
  <p>{{ intro }}</p>
  <h2>Введите имя пользователя:</h2>
  <form id="connect" method="post" action="{{ url('index') }}">
    {% if form_errors %}
    <div class="error">
      {{ form_errors }}
    </div>
    {% endif %}
    <p>
      <label for="username">Имя:</label>
      <input type="text" name="username" id="username" placeholder="имя" value="{{ username }}">
      <input id="buttonConnect" type="submit" value="Connect">&nbsp;|&nbsp;Status:
      <span id="name">UNKNOWN</span>
      <span id="status">disconnected</span>
    </p>
  </form>
{% endblock %}
