{% extends 'base.jinja' %}

{% block content %}
  <h2>Введите имя пользователя:</h2>
  <form id="connect" method="post" action="{{ url('messages') }}">
    {% if form_errors %}
    <div class="error">
      {{ form_errors }}
    </div>
    {% endif %}
    <p>
      <label for="username">Имя:</label>
      <input type="text" name="username" id="username" placeholder="имя" value="{{ username }}">
      <input id="buttonConnect" type="submit" value="Connect">&nbsp;|&nbsp;Status:
      <span id="name">UNKNOWN</span>
      <span id="status">disconnected</span>
    </p>
  </form>
  <h2>Add a new message:</h2>
  <div id="log"
    style="width:20em;height:15em;overflow:auto;border:1px solid black">
  </div>
  <form method="post" id="chatform" onsubmit="return false;" action="{{ url('messages') }}">
    {% if form_errors %}
    <div class="error">
      {{ form_errors }}
    </div>
    {% endif %}
    <p>
      <label for="message">Message:</label>
      <input type="text" name="message" placeholder="hello there">
      <input id="send" type="button" value="Send" disabled/>
    </p>
  </form>

  <h2>Messages:</h2>
  <div id="messages" data-url="{{ url('message-data') }}">
    <span class="error">messages not loading, it's possible <code>message_display.js</code> is not being served.</span>
  </div>
  <script src="{{ static('message_display.js') }}"></script>
{% endblock %}
